/* Generel css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mr-eaves-modern, sans-serif;
}

h1 {
  font-family: presicav, sans-serif;
  font-weight: bold;
  font-style: normal;
}
h2 {
  font-family: presicav, sans-serif;
  font-weight: bold;
  font-style: normal;
}
h3 {
  font-family: presicav, sans-serif;
  font-weight: bold;
  font-style: normal;
}

main {
  margin: 50px 100px;
  color: black;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Menu css */
header {
  background-color: white;
  /* SKAL GØRES SENERE SÅ MENUEN FØLGER MED */
  /* position: fixed; */
  width: 100%;
  color: #262626;
}

li {
  list-style: none;
}

a {
  color: #262626;
  text-decoration: none;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 1px -8px 19px 3px black;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  transition: 0.2s ease;
}

.nav-branding:hover {
  color: rgb(255, 132, 0);
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  color: rgb(255, 132, 0);
}

/* Hamburger menu css */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #262626;
}

article {
  margin-bottom: 130px;
}

span {
  height: 3px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 22px 29px -33px black;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
